<p>{{ currentDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</p>
<!--<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Label</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
          <td><a [routerLink]="['/transaction', transaction.id]">{{ transaction.id }}</a></td>
          <td>{{ transaction.amount | currency:'EUR' }}</td>
          <td>{{ transaction.balance | currency:'EUR' }}</td>
          <td>{{ transaction.label }}</td>
          <td>{{ transaction.date | date:'short' }}</td>
      </tr>
    </tbody>
  </table> -->
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">
      ID
    </th>
    <td mat-cell *matCellDef="let element"> <a [routerLink]="['/transaction', element.id]">{{ element.id }}</a> </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount">
      Amount
    </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by balance">
      Balance
    </th>
    <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by label">
      Label
    </th>
    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      Date
    </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>