table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    border: 1px solid hsl(0, 0%, 82%);
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  th {
    background-color: rgb(29, 29, 29);
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
  }
  
  td {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
  }
  tr:nth-child(even) {
    background-color: #6ae472;
}
  tr:nth-child(odd) {
    background-color:#4a4a4a;
    color:white
}
th.mat-sort-header-sorted {
  color: black;
}