<p>{{ currentDateTime | date:'yyyy-MM-dd HH:mm:ss' }}</p>
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Label</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
          <td><a [routerLink]="['/transaction', transaction.id]">{{ transaction.id }}</a></td>
          <td>{{ transaction.amount | currency:'EUR' }}</td>
          <td>{{ transaction.balance | currency:'EUR' }}</td>
          <td>{{ transaction.label }}</td>
          <td>{{ transaction.date | date:'short' }}</td>
      </tr>
    </tbody>
  </table>